* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v89_33 {
  width: 100%;
  height: 2811px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v89_136 {
  width: 100%;
  height: 100%;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1920px;
}
.v89_137 {
  width: 355px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 839px;
  left: 986px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_138 {
  width: 42px;
  height: 41px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 422px;
  border-radius: 50%;
}
.v89_139 {
  width: 135px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 944px;
  left: 1053px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_140 {
  width: 193px;
  height: 193px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 199px;
  border-radius: 50%;
}
.v89_141 {
  width: 123px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 846px;
  left: 260px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_142 {
  width: 352px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1338px;
  left: 462px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_143 {
  width: 42px;
  height: 41px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1437px;
  left: 462px;
  border-radius: 50%;
}
.v89_144 {
  width: 134px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1442px;
  left: 529px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_145 {
  width: 192px;
  height: 192px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1305px;
  left: 209px;
  border-radius: 50%;
}
.v89_146 {
  width: 122px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1384px;
  left: 270px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_147 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 814px;
  left: 419px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_148 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 951px;
  left: 1001px;
  border-radius: 50%;
}
.v89_149 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 896px;
  left: 497px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_150 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 814px;
  left: 1341px;
  border-radius: 50%;
}
.v89_151 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 862px;
  left: 1377px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_152 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1258px;
  left: 886px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_153 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1336px;
  left: 884px;
  border-radius: 50%;
}
.v89_154 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1339px;
  left: 931px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_155 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 1144px;
  border-radius: 50%;
}
.v89_156 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1286px;
  left: 1180px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_157 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1452px;
  left: 884px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_158 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1529px;
  left: 882px;
  border-radius: 50%;
}
.v89_159 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1533px;
  left: 929px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_160 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1432px;
  left: 1142px;
  border-radius: 50%;
}
.v89_161 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1480px;
  left: 1178px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_162 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1452px;
  left: 1335px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_163 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1529px;
  left: 1332px;
  border-radius: 50%;
}
.v89_164 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1533px;
  left: 1379px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_165 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1432px;
  left: 1593px;
  border-radius: 50%;
}
.v89_166 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1480px;
  left: 1628px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_167 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1259px;
  left: 1337px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_168 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1337px;
  left: 1335px;
  border-radius: 50%;
}
.v89_169 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1341px;
  left: 1381px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_170 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1239px;
  left: 1595px;
  border-radius: 50%;
}
.v89_171 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1287px;
  left: 1630px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_172 {
  width: 352px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1338px;
  left: 462px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_173 {
  width: 42px;
  height: 41px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1437px;
  left: 462px;
  border-radius: 50%;
}
.v89_174 {
  width: 134px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1442px;
  left: 529px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_175 {
  width: 192px;
  height: 192px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1305px;
  left: 209px;
  border-radius: 50%;
}
.v89_176 {
  width: 122px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1384px;
  left: 270px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_177 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1336px;
  left: 884px;
  border-radius: 50%;
}
.v89_178 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1339px;
  left: 931px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_179 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 1144px;
  border-radius: 50%;
}
.v89_180 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1286px;
  left: 1180px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_181 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1529px;
  left: 882px;
  border-radius: 50%;
}
.v89_182 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1533px;
  left: 929px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_183 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1432px;
  left: 1142px;
  border-radius: 50%;
}
.v89_184 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1480px;
  left: 1178px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_185 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1529px;
  left: 1332px;
  border-radius: 50%;
}
.v89_186 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1533px;
  left: 1379px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_187 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1480px;
  left: 1628px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_188 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1337px;
  left: 1335px;
  border-radius: 50%;
}
.v89_189 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1341px;
  left: 1381px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_190 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1239px;
  left: 1595px;
  border-radius: 50%;
}
.v89_191 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1287px;
  left: 1630px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_192 {
  width: 352px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1873px;
  left: 469px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_193 {
  width: 42px;
  height: 41px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1972px;
  left: 469px;
  border-radius: 50%;
}
.v89_194 {
  width: 134px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1977px;
  left: 536px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_195 {
  width: 192px;
  height: 192px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1846px;
  left: 209px;
  border-radius: 50%;
}
.v89_196 {
  width: 122px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1924px;
  left: 270px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_197 {
  width: 352px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2409px;
  left: 469px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_198 {
  width: 42px;
  height: 41px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 2508px;
  left: 469px;
  border-radius: 50%;
}
.v89_199 {
  width: 134px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2513px;
  left: 536px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_200 {
  width: 192px;
  height: 192px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 2382px;
  left: 209px;
  border-radius: 50%;
}
.v89_201 {
  width: 122px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2461px;
  left: 270px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_202 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1804px;
  left: 862px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_203 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1882px;
  left: 860px;
  border-radius: 50%;
}
.v89_204 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1886px;
  left: 907px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_205 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1784px;
  left: 1120px;
  border-radius: 50%;
}
.v89_206 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1832px;
  left: 1155px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_207 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1998px;
  left: 860px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_208 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 2076px;
  left: 858px;
  border-radius: 50%;
}
.v89_209 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2079px;
  left: 905px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_210 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1978px;
  left: 1118px;
  border-radius: 50%;
}
.v89_211 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2026px;
  left: 1153px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_212 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1998px;
  left: 1310px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_213 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 2076px;
  left: 1308px;
  border-radius: 50%;
}
.v89_214 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2079px;
  left: 1355px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_215 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1978px;
  left: 1568px;
  border-radius: 50%;
}
.v89_216 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2026px;
  left: 1604px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_217 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1805px;
  left: 1312px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_218 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1883px;
  left: 1310px;
  border-radius: 50%;
}
.v89_219 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1887px;
  left: 1357px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_220 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 1570px;
  border-radius: 50%;
}
.v89_221 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1833px;
  left: 1606px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_222 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 2076px;
  left: 1308px;
  border-radius: 50%;
}
.v89_223 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 1883px;
  left: 1310px;
  border-radius: 50%;
}
.v89_224 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1833px;
  left: 1606px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_225 {
  width: 361px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 657px;
  left: 199px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v89_226 {
  width: 240px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 689px;
  left: 245px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v89_227 {
  width: 361px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1688px;
  left: 209px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v89_228 {
  width: 240px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1720px;
  left: 256px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v89_229 {
  width: 361px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1108px;
  left: 209px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v89_230 {
  width: 240px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 1142px;
  left: 276px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v89_231 {
  width: 361px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2234px;
  left: 209px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v89_232 {
  width: 240px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2269px;
  left: 276px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v89_233 {
  width: 245px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2423px;
  left: 882px;
  font-family: Roboto;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v89_234 {
  width: 29px;
  height: 28px;
  background: rgba(35, 141, 239, 1);
  opacity: 1;
  position: absolute;
  top: 2501px;
  left: 880px;
  border-radius: 50%;
}
.v89_235 {
  width: 93px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 2504px;
  left: 927px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v89_236 {
  width: 134px;
  height: 134px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 2403px;
  left: 1140px;
  border-radius: 50%;
}
.v89_237 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2451px;
  left: 1175px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v179_17 {
  width: 100%;
  height: 117px;
  background: url("../about-images/v179_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v179_18 {
  width: 100%;
  height: 117px;
  background: rgba(33, 35, 50, 0.47999998927116394);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v179_19 {
  width: 340px;
  height: 86px;
  background: url("../about-images/v179_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 250px;
  overflow: hidden;
}
.v179_20 {
  width: 313px;
  height: 79px;
  background: url("../about-images/v179_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 807px;
  overflow: hidden;
}
.v179_21 {
  width: 313px;
  height: 79px;
  background: rgba(44, 47, 74, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6000000238418579);
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v179_22 {
  width: 194px;
  color: rgba(254, 254, 254, 1);
  position: absolute;
  top: 18px;
  left: 87px;
  font-family: Nasalization;
  font-weight: Medium;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v179_23 {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 24px;
}
.v179_24 {
  width: 231px;
  height: 74px;
  background: url("../about-images/v179_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1415px;
  overflow: hidden;
}
.v179_25 {
  width: 231px;
  height: 74px;
  background: rgba(44, 48, 74, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255, 255, 255, 0.4000000059604645);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7900000214576721);
  overflow: hidden;
}
.v179_26 {
  width: 59px;
  height: 52px;
  background: url("../about-images/v179_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
  overflow: hidden;
}
.v179_27 {
  width: 123px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 22px;
  left: 83px;
  font-family: Ruda;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v179_28 {
  width: 121px;
  height: 28px;
  background: url("../about-images/v179_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 664px;
  overflow: hidden;
}
.v179_29 {
  width: 121px;
  height: 28px;
  background: rgba(44, 47, 74, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6000000238418579);
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v179_30 {
  width: 84px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2px;
  left: 19px;
  font-family: Ruda;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v179_31 {
  width: 121px;
  height: 28px;
  background: url("../about-images/v179_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 1142px;
  overflow: hidden;
}
.v179_32 {
  width: 121px;
  height: 28px;
  background: rgba(44, 47, 74, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6000000238418579);
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v179_33 {
  width: 44px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2px;
  left: 39px;
  font-family: Ruda;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v428_3 {
  width: 80%;
  color: rgba(251, 251, 251, 1);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v428_4 {
  align-items: center;
  display: flex;
  justify-content: center;

  width: 1024px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  background: #26242433;
  opacity: 1;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
